<div class="featured-section">
  <h2 class="featured-title">BestSeller</h2>
  <div class="container ">
    <div class="row" >
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let product of products | slice:0:limit">
        <div class="product-card">
          <div class="product-image-container">
            <img [src]="staticURL +'/'+ product.imgurl" [alt]="product.title" class="product-image" *ngIf="product.imgurl; else noImage">
            <ng-template #noImage>
              <div class="product-image no-image">No Image</div>
            </ng-template>
            <span class="sale-tag" >BestSeller</span>
          </div>
          <div class="product-body">
            <h5 class="product-name">{{ product.title }}</h5>
           <p class="product-category">
  {{ product.category.name }} ({{ product.category.gender }})

</p>

            <p class="product-price">{{ product.price | currency:'USD' }}</p>
            <div class="product-actions">
               <button class="btn details-btn btn-sm" [routerLink]="'/product/'+product.route">View Details</button>
               
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <div class="text-center py-5">جاري تحميل المنتجات...</div>
    </ng-template>
  </div>
</div>
