<footer class="bg-dark text-light pt-4">
  <div class="container">
    <div class="row">

     
      <div class="col-md-4 mb-3">
        <h5>About Us</h5>
        <p>We are a team dedicated to providing the best e-commerce experience.</p>
      </div>

     
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
            
          <li><a routerLink="home" class="text-light text-decoration-none">Home</a></li>
          <li><a routerLink="product" class="text-light text-decoration-none">Products</a></li>
          <li><a routerLink="contact" class="text-light text-decoration-none">Contact</a></li>
          <li><a routerLink="faq" class="text-light text-decoration-none">FAQ</a></li>
        </ul>
      </div>

     
      <div class="col-md-4 mb-3">
        <h5>Contact</h5>
        <p>Email: info@ecommerce.com</p>
        <p>Phone: +123 456 7890</p>
        <div>
          <a href="#" class="text-light me-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-light me-2"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
        </div>
      </div>

    </div>

    <hr class="bg-light">
    <p class="text-center mb-0">&copy; 2025 E-Commerce. All rights reserved.</p>
  </div>
</footer>

